@model IEnumerable<ChoiseManagement.Models.Hotel.Guest_Details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Guest_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest_First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest_Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest_MobileNO)
        </th>
        
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Guest_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest_First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest_Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest_MobileNO)
        </td>
        
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Guest_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Guest_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Guest_Id })
        </td>
    </tr>
}

</table>
