@model IEnumerable<ChoiseManagement.Models.Hotel.Admin_login>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Depertment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Depertment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Depertment_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Depertment_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Depertment_Id })
        </td>
    </tr>
}

</table>
