@model ChoiseManagement.Models.Hotel.Room_Catagorys

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Room_Catagorys</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room_Catogory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_Catogory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCD_Television)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCD_Television)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DvdPlayer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DvdPlayer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomServices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomServices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniBar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniBar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WiFi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WiFi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HairDrier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HairDrier)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
