@model ChoiseManagement.Models.Hotel.Room_Catagorys

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Room_Catagorys</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room_Catogory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_Catogory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LCD_Television)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LCD_Television)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DvdPlayer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DvdPlayer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomServices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomServices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiniBar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiniBar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WiFi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WiFi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HairDrier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HairDrier)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Room_Catogory_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
