@model ChoiseManagement.Models.Hotel.Event_GuestDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Event_GuestDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guest_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guest_Contact_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest_Contact_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventReservationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
