@model IEnumerable<ChoiseManagement.Models.Hotel.Hall>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HallName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HallCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HallDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HImage1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HImage2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HImage3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HImage4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hall_price_Hour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HallName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HallCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HallDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HImage1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HImage2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HImage3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HImage4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hall_price_Hour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HallId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HallId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HallId })
        </td>
    </tr>
}

</table>
