@model ChoiseManagement.Models.Hotel.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reservation.Reservation_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation.Reservation_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Bill_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
