@model ChoiseManagement.Models.Hotel.Order

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Food_Items.Item_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food_Items.Item_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservation.Reservation_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation.Reservation_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_Portion_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Portion_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Item_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Item_Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
