@model ChoiseManagement.Models.Hotel.Reservation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guest_Details.Guest_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest_Details.Guest_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Package.Package_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Package.Package_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.Room_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Room_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check_In)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check_In)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check_Out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check_Out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Childrens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Childrens)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
